# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Import Datasets

In [3]:
#Train Dataset
train = pd.read_csv('../Resources/train.csv')
#Test Dataset
test = pd.read_csv('../Resources/test.csv')

In [4]:
train.head()

   row_id        date  country       store         product  num_sold
0       0  2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1       1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2       2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3       3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4       4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911

In [9]:
#Dataset Characteristics
print('The train dataset has '+ str(train.shape[0])+' rows and '+ str(train.shape[1])+' columns')
print('The test dataset has '+ str(test.shape[0])+' rows and '+ str(test.shape[1])+' columns')

The train dataset has 26298 rows and 6 columns
The test dataset has 6570 rows and 5 columns

In [17]:
column_names = train.columns
countries = train.country.value_counts().index
stores = train.store.value_counts().index
products = train.iloc[:,4].value_counts().index

In [44]:
print('The dataset has '+ str(len(countries))+' countries and the names are:')
for i in countries:
    print('-'+i)
print('')
print('The dataset has '+ str(len(stores))+' stores and the names are:')
for i in stores:
    print('-'+i)
print('')
print('The dataset has '+ str(len(products))+' products and the names are:')
for i in products:
    print('-'+i)

The dataset has 3 countries and the names are:
-Sweden
-Norway
-Finland

The dataset has 2 stores and the names are:
-KaggleRama
-KaggleMart

The dataset has 3 products and the names are:
-Kaggle Hat
-Kaggle Sticker
-Kaggle Mug

# Feature Engineering